---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetPlayerAchievements/v0001?appid=4760&format=json&key=<API_KEY>&steamid=76561198046174695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"error\": \"Requested app has no stats\",\n\t\t\"success\":
        false\n\t}\n}"
  recorded_at: Tue, 06 Jan 2015 08:45:30 GMT
recorded_with: VCR 2.9.3
