---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002?key=<API_KEY>&steamids=76561198046174695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"response\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561198046174695\",\n\t\t\t\t\"communityvisibilitystate\": 3,\n\t\t\t\t\"profilestate\":
        1,\n\t\t\t\t\"personaname\": \"gravin79\",\n\t\t\t\t\"lastlogoff\": 1421192890,\n\t\t\t\t\"commentpermission\":
        1,\n\t\t\t\t\"profileurl\": \"http://steamcommunity.com/profiles/76561198046174695/\",\n\t\t\t\t\"avatar\":
        \"http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/7a/7aa6dcdb282e48f09a67b25f791493d779aa3311.jpg\",\n\t\t\t\t\"avatarmedium\":
        \"http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/7a/7aa6dcdb282e48f09a67b25f791493d779aa3311_medium.jpg\",\n\t\t\t\t\"avatarfull\":
        \"http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/7a/7aa6dcdb282e48f09a67b25f791493d779aa3311_full.jpg\",\n\t\t\t\t\"personastate\":
        0,\n\t\t\t\t\"realname\": \"GTomasz\",\n\t\t\t\t\"primaryclanid\": \"103582791433775490\",\n\t\t\t\t\"timecreated\":
        1312107940,\n\t\t\t\t\"personastateflags\": 0,\n\t\t\t\t\"loccountrycode\":
        \"PL\",\n\t\t\t\t\"locstatecode\": \"67\",\n\t\t\t\t\"loccityid\": 36018\n\t\t\t}\n\t\t]\n\t\t\n\t}\n}"
  recorded_at: Wed, 14 Jan 2015 05:28:46 GMT
recorded_with: VCR 2.9.3
