---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetPlayerAchievements/v0001?appid=232050&format=json&key=<API_KEY>&steamid=76561198046174695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"steamID\": \"76561198046174695\",\n\t\t\"gameName\":
        \"Eador. Masters of the Broken World\",\n\t\t\"achievements\": [\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_5115\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_5CD5\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_5405\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_5965\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_5985\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"apiname\":
        \"SNOWBIRDS_ACHIEVEMENT_[...]
