---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerBans/v1?key=<API_KEY>&steamids=76561198046174695,76561197960435530
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"players\": [\n\t\t{\n\t\t\t\"SteamId\": \"76561198046174695\",\n\t\t\t\"CommunityBanned\":
        false,\n\t\t\t\"VACBanned\": false,\n\t\t\t\"NumberOfVACBans\": 0,\n\t\t\t\"DaysSinceLastBan\":
        0,\n\t\t\t\"EconomyBan\": \"none\"\n\t\t},\n\t\t{\n\t\t\t\"SteamId\": \"76561197960435530\",\n\t\t\t\"CommunityBanned\":
        false,\n\t\t\t\"VACBanned\": false,\n\t\t\t\"NumberOfVACBans\": 0,\n\t\t\t\"DaysSinceLastBan\":
        0,\n\t\t\t\"EconomyBan\": \"none\"\n\t\t}\n\t]\n\t\n}"
  recorded_at: Sat, 17 Jan 2015 09:02:15 GMT
recorded_with: VCR 2.9.3
