---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v0001?format=json&key=<API_KEY>&relationship=all&steamid=76561198046174695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"friendslist\": {\n\t\t\"friends\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197968589933\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1397319937\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561198036812480\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1359731326\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561198044253377\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1332186936\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561198047048666\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1381777255\n\t\t\t},\n\t\t\t{\n\t\t\[...]
