---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v0002?appid=8930&format=json&key=<API_KEY>&steamid=76561198046174695
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"playerstats\": {\n\t\t\"steamID\": \"76561198046174695\",\n\t\t\"gameName\":
        \"ValveTestApp8930\",\n\t\t\"achievements\": [\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_WASHINGTON\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_ELIZABETH\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_NAPOLEON\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_BISMARCK\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_CATHERINE\",\n\t\t\t\t\"achieved\": 1\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\":
        \"ACHIEVEMENT_WIN_CAESAR\",\n\t\t\t\t\"achiev[...]
